//- 企业风采

- var styles = require('@data/styleus')

div(class="style-list")
  each item in styles.list && styles.list.length ? styles.list : []
    div(class="style-item")
      img(class="lazy" src='' data-src=item.img width=item.width height=item.height data-width=item.width data-height=item.height title=item.title)
      div(class="desc")= item.desc