//- product
include ../commons/title/index-title.pug

- var product = require('@data/product')

div(class="sj_loan_product container")

  +index-title(product.cn_name, product.en_name)

  div(class="sj_product-list clearfix")
    each item in product.list && product.list.length ? product.list : []
      div(class="sj_product-item")
        a(href=item.href)
          div(class="sj_left")
            div(class="sj_top")
              div= item.cn_name
              div= item.en_name
            div(class="sj_bottom")
              div(class="sj_more")
                span MORE
          div(class="sj_right")
            img(src=item.img alt=item.cn_name)