- var map = require('@data/site-map')

//- footer
div(class="sj_footer")
  div(class="sj_wrapper")
    div(class="sj_map-box clearfix")
      ul(class="sj_map-nav")
        each item in map.nav
          if item.subMap
            li(class="sj_map-item sj_arrow-more")
              span
              a(href=item.href ? (item.type ? item.href + '#' + item.type : item.href) : 'javascript:;' class="sj_title" target="_blank")= item.text
              ul(class="sj_map-menu")
                each subItem in item.subMap
                  li
                    a(href=subItem.href ? (subItem.type ? subItem.href + '#' + subItem.type : subItem.href) : 'javascript:;' target="_blank")= subItem.text
          else  
            li(class="sj_map-item")
              a(href=item.href ? (item.type ? item.href + '#' + item.type : item.href) : 'javascript:;' class="sj_title" target="_blank")= item.text
              

      //- user service
      div(class="sj_user_service")
        span 在线客服：#{map.service.phone}
        span 工作时间：#{map.service.worktime}

      //- qrcode
      div(class="sj_qrcode")
        img(class="lazy" src='' data-src=map.qrcode.img alt=map.qrcode.alt)
        div= map.qrcode.text
        
  //- copyright
  div(class="sj_copyright")
    p 京ICP备15002298号&nbsp;京公网安备11010102001651号