//- contact us
- var contactus = require('@data/contactus')

include ../commons/title/second-title.pug

div(class="sj_contactus")
  +second-title(contactus.cn_name, contactus.en_name)
  div(class="sj_wrapper clearfix")
    //- tag
    img(class="sj_tag" src=contactus.img)
    div(class="sj_left")
      div(class="sj_ct_logo")
        img(src=contactus.company.img alt=contactus.company.alt)
        span= contactus.company.name
      
      ul(class="sj_ct_list")
       each item in contactus.list && contactus.list.length ? contactus.list : []
        li(class="sj_ct_item")
          img(src=item.img)
          span= item.text
    
    div(class="sj_right")
      ul(class="sj_qr_list clearfix")
        each item in contactus.qr_list && contactus.qr_list.length ? contactus.qr_list : []
          li(class="sj_qr_item")
            img(src=item.img alt=item.alt)
            div(class="sj_qr_des")
              span= item.name
              span= item.qname