//- recruitment
- var recruitment = require('@data/recruitment')

include ../commons/title/second-title.pug 

div(class="sj_recruitment")
  div(class="sj_wrapper shadow")
    +second-title(recruitment.cn_name, recruitment.en_name)

    div(class="sj_table")
      div(class="sj_table-header clearfix")
        each item in recruitment.thead && recruitment.thead.length ? recruitment.thead : []
          div(class="sj_table-th")
            span= item.cn_name
            span= item.en_name

      div(class="sj_table-body")
        each item, index in recruitment.data && recruitment.data ? recruitment.data : []
          div(class="sj_table-tr")
            div(class="sj-table-tt clearfix")
              div(class="sj_table-td")= item.position
              div(class="sj_table-td")= item.num
              div(class="sj_table-td")= item.address
              div(class="sj_table-td sj_arrow-more" class= index===0 ? 'active' : '')
                span

            div(class="sj_table-details" style= index===0 ? 'display: block': '')
              div(class="sj_recruit-list")
                div(class="sj_recruit-item sj_horizontal")
                  div(class="sj_recruit-title") 待遇：
                  div(class="sj_recruit-content")= item.details.pay
                div(class="sj_recruit-item")
                  div(class="sj_recruit-title") 岗位职责：
                  div(class="sj_recruit-content")
                    each value, num in item.details.responsibilities && item.details.responsibilities.length ? item.details.responsibilities : []
                      p= (num+1) + ' 、' + value
                div(class="sj_recruit-item")
                  div(class="sj_recruit-title") 任职要求：
                  div(class="sj_recruit-content")
                    each value, num in item.details.job_requirements && item.details.job_requirements.length ? item.details.job_requirements : []
                      p= (num+1) + ' 、' + value
